@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont/iconfont.woff?t=1502255782922') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont/iconfont.ttf?t=1502255782922') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_up:before { content: "\e6ee"; }

.icon-el-icon-delete:before { content: "\e618"; }

.icon-alert:before { content: "\e621"; }

