@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont/iconfont.woff') format('woff'),
  url('../fonts/iconfont/iconfont.ttf') format('truetype');
}

[class^="el-icon-font"], [class*=" el-icon-font"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-font-up:before { content: "\e6ee"; }

.el-icon-font-stock:before { content: "\e73d"; }

.el-icon-font-delete:before { content: "\e618"; }

.el-icon-font-alert:before { content: "\e621"; }
